* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: block;
  width: 100%;
  position: relative;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: #fa7070;
  position: fixed;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 35%;
}

#navbar ul li {
  list-style: none;
}

#navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding: 1.5rem 3.5rem;
  transition: 0.75s;
}

#navbar ul li a:hover {
  background-color: #2c3e50;
}

#welcome-section {
  background-color: #fbf2cf;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#welcome-section h1 {
  width: 100%;
  font-size: 40px;
  margin-bottom: 2rem;
  color: #fa7070;
}

#welcome-section h3 {
  font-size: 20px;
  color: #fa7070;
  font-style: italic;
  width: 100%;
}

#projects {
  width: 100%;
  height: 140vh;
  background-color: #c6ebc5;
}

img {
  width: 100%;
  margin-top: 3rem;
}

#projects h1 {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 5rem;
  font-size: 35px;
}

.project-tile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  width: 80vw;
  margin: 0px auto;
}

.project-tile a {
  text-decoration: none;
}

.project-tile p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e74c3c;
  height: 5vh;
  text-decoration: none;
  color: white;
}

#button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5rem;
}

#button input {
  width: 6rem;
  height: 2.5rem;
  z-index: 0.1;
}

#last-section {
  width: 100%;
  height: 80vh;
  background-color: #a1c298;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-bottom: 3px solid #e74c3c;
}

#last-section h1 {
  display: block;
  text-align: center;
  font-size: 35px;
  color: white;
}
#last-section p {
  display: block;
  text-align: center;
  padding-top: 1rem;
  color: white;
}

#social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60vw;
  margin: 3rem auto;
}

#social a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding-top: 5rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 10vh;
  background-color: #303841;
}
footer h4 {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 400px) {
  #social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90vw;
    margin: 1rem auto;
  }

  footer h4 {
    margin: 1rem 1rem;
  }
  footer {
    height: 20vh;
  }

  #navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 1.5rem 1rem;
    transition: 0.75s;
  }

  #projects {
    width: 100%;
    height: 100vh;
    background-color: #c6ebc5;
  }
}
