@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#body-part {
  font-family: 'Albert Sans', sans-serif;
  margin: 0rem;
}

/* HEADER */

.header{
    position: fixed;
    width: 100%;
    height: 12vh;
    background-color: white;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}
/* \/page header fixed \/ */
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.sticky + .content {
  padding-top: 102px;
}

/* /\ page header fixed /\ */

#page-icon img {
    cursor: pointer;
}

#topbar{
    position: fixed;
    top: 1.25rem;
    margin-left: 5rem;
}

.header-navbar{
  display: flex;
  position: fixed;
  right: 5rem;
  top: 1.2rem;
  flex-direction: row;
  list-style: none;
  cursor: pointer;
}

.nav-item{
    padding-left: 20px;
    color: #160d4f;
    margin-left: 1rem;
    margin-right: 1rem;
}


/* DROPDOWN */
.dropdown-menu{
    height: 8rem;
    list-style: none;
    background-color: white;
    box-shadow:  rgba(0, 0, 0, 0.2) 0px 0px 10px;
    border-radius: 1rem;
    padding:1rem;
    position: absolute;
    top: 2rem;
    width: 10rem;
    visibility:hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#dropdown-button{
    padding-bottom: 2rem;
}

.visible {
  visibility:visible;
}

.dropdown-item{
    text-decoration: none;
    padding-left: 0.6rem;
}
.dropdown-item:hover{
    color: #1AD48E;
    transition: 300ms;
}

/* INDEX HERO */

#IndexHero{
    display: flex;
    justify-content:left;
    align-items: center;
    background-image: linear-gradient(to bottom right, #533483, #2a206a);
    min-height: 100vh;
}

#IndexHero button{
  width: 13rem;
  height: 3rem;
  background-color: #1AD48E;
  color: #2a206a;
  border-radius: 0.5rem;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  margin-left: 8rem;
  cursor: pointer;
  transition: 300ms;
}
#IndexHero button:hover{
  background-color: white;
}

#IndexHero-title{
    padding: 0rem;
    margin: 0rem;
    color: white;
    font-size: 3rem;
    margin-left: 8rem;
    transition: 500ms;
}

#IndexHero-subtitle{
    font-weight: 300;
    margin-left: 8rem;
    color: rgb(185, 185, 185);
}

.IndexHero-image{
    position: relative;
    top: 5rem;
    left: 8rem;
    max-width: 35rem;
}

/* Partners Container */

#container-partners{
    position: relative;
    padding-left: 8rem;
    padding-right: 8rem;
    width: auto;
    background-color: #F5F5F5;
}

.swiper-wrapper{
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.swiper-slide{
    display: inline-block;
    width: 5vw;
    filter: grayscale(100%) opacity(0.7);
    transition: 500ms;
    cursor: pointer;
}

.swiper-slide:hover{
    filter: grayscale(0%) opacity(1);

}

/* OUR SERVICES */

.Our-services{
    height: 120vh;
    width: 100%;
    background-image: linear-gradient(#ffffff, #f7f7f8);
    padding-bottom: 0rem;
}

.all-cards-section{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

/* UPPER CARDS */
.upper-cards{
    display: inline-flex;
    position: relative;
    left: 10rem;
    flex-direction: row;
    width: 40vw;
    height: 50vh;
}

.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1.5rem;
    justify-content: center;
    border-radius: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    width: 70rem;
    transition: 500ms;
    background-color: white;
}

.card1:hover{
    box-shadow:  #ababab 0px 0px 20px;
    cursor: pointer;
}
.card1 h5{
    color: #4a4b65;
    font-size: 1.125rem;
    margin-bottom: 0rem;
}
.card1 p{
    color: #737491;
    font-size: 1rem;
}
.card1 img{
    height: 100px;
    width: 100px;
}

.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    width: 70rem;
    transition: 500ms;
    background-color: white;
}
.card2:hover{
    box-shadow:  #ababab 0px 0px 20px;
    cursor: pointer;
}
.card2 h5{
    color: #4a4b65;
    font-size: 1.125rem;
    margin-bottom: 0rem;
}
.card2 p{
    color: #737491;
    font-size: 1rem;
}

.card2 img{
    height: 100px;
    width: 100px;
}

/* LOWER CARDS */
.lower-cards{
    display: inline-flex;
    position: relative;
    margin-top: 1rem;
    left: 10rem;
    flex-direction: row;
    width: 40vw;
    height: 50vh;
}

.card3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    width: 70rem;
    transition: 500ms;
    background-color: white;
}
.card3:hover{
    box-shadow:  #ababab 0px 0px 20px;
    cursor: pointer;
}
.card3 h5{
    color: #4a4b65;
    font-size: 1.125rem;
    margin-bottom: 0rem;
}
.card3 p{
    color: #737491;
    font-size: 1rem;
}

.card3 img{
    height: 100px;
    width: 150px;
}

.card4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    width: 70rem;
    transition: 500ms;
    background-color: white;
}
.card4:hover{
    box-shadow:  #ababab 0px 0px 20px;
    cursor: pointer;
}
.card4 h5{
    color: #4a4b65;
    font-size: 1.125rem;
    margin-bottom: 0rem;
}
.card4 p{
    color: #737491;
    font-size: 1rem;
}

.card4 img{
    height: 100px;
    width: 150px;
}

.heading-text{
    width: 25%;
    position: relative;
    left: 60rem;
    bottom: 33rem;
}

.heading-text h1{
    font-size: 2.5rem;
    color: #2a206a;
    margin-bottom: 0rem;
}
.heading-text p{
    color: #4d4476;
}
/* LAST SECTION */
#respect{
    background-color: #f7f7f8;
    height: 100vh;
    width: auto;
    padding-top: 0rem;
}

.respect-left-content{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10rem;
    left: 10rem;
    width: 25rem;
}
.respect-left-content h1 {
    color: #2a206a;
    font-size: 2.5rem;
    margin-bottom: 0px;
  }
.respect-left-content p {
color: #4d4476;
}

.respect-left-content ul{
    list-style: none;
    padding-left: 0rem;
  }

.respect-left-content ul li {
    display: flex
}
.respect-left-content ul li p {
  margin: 0rem;
}
.respect-left-content ul li i {
    color: #1AD48E;
    margin-right: 15px;
    margin-bottom: 15px;
}

.respect-right-content{
    position: relative;
    align-items: center;
    height: 90vh;
    width: 50vw;
    display: flex;
    left: 40rem;
    bottom: 25rem;
    background-image: url("images/respect/lines.png");
    background-size: cover;
}

#respect-right-content-img {
  display: flex;
  height: 70vh;
  width: 50vw;
}

footer{
      display: flex;
      flex-direction: row;
      height: 50vh;
      width: 100%;
      background-color: #2a206a;
}

#footer-left-content{
      display: flex;
      flex-direction: column;
      margin-left: 4rem;
      margin-right: 2rem;
      width: 30rem;
      height: 20rem;
      padding-top: 2rem;
}

footer h1{
      color: white;
      border-bottom: #5F6F94 solid 1px ;
      width: 20rem;
      padding-bottom: 1rem;
}

footer button{
      width: 10rem;
      height: 2.5rem;
      background-color: #1AD48E;
      filter: grayscale(100%) opacity(1);
      color: #2a206a;
      border-radius: 0.5rem;
      border: none;
      font-weight: 700;
      font-size: 0.85rem;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
      cursor: pointer;
      transition: 250ms;
}
footer button:hover{
      filter: grayscale(0%) opacity(1);
}

#social-media{
      list-style: none;
      display: flex;
      flex-direction: row;
      padding-left: 0rem;
      width: 30rem;
      height: 50px;
}

#social-media svg {
      display: inline-block;
      padding: 0.5rem;
      margin: 1rem;
      width: 2rem;
      height: 2rem;
      background-color: rgba(255,255,255,0.71);
      border-radius: 3rem;
      transition: 300ms;
      position: relative;
      right: 1rem;
      cursor: pointer;
}

footer ul svg:hover{
      box-shadow: rgba(255,255,255,0.5) 0px 0px 10px;
}

#footer-center-content{
      display: flex;
      flex-direction: column;
      width: 30rem;
      height: 15rem;
      margin-top: 4rem;
      margin-left: 4rem;
}
#footer-center-content h1 {
      font-size: 1.5rem;
      margin: 0rem;
      padding-bottom: 1rem;
      border-bottom: #5F6F94 solid 1px ;
      width: 20rem;
}

#footer-center-content ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0rem;
}

#footer-center-content ul li{
      color: rgba(255,255,255,0.71);
      width: 10rem;
      margin-top: 0.5rem;
}

#footer-right-content{
      display: flex;
      flex-direction: column;
      margin-top: 4rem;
      margin-left: 2rem;
      width: 20rem
}

#footer-right-content h1 {
      font-size: 1.5rem;
      margin: 0rem;
      padding-bottom: 1rem;
      border-bottom: #5F6F94 solid 1px ;
      width: 10rem;
}

#footer-right-content ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      width: 15rem;
      height: 15rem;
      padding: 0rem;
}

#footer-right-content ul li{
      color: rgba(255,255,255,0.71);
      width: 15rem;
      border-bottom: 1rem;
      padding: 0rem;
      margin-top: 0.5rem;
}

/* mobile Compatible */
@media only screen and (max-width: 370px) {
  body{
    max-width: 370px;
  }
}
