@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#header-logo {
             width: 16px;
             height: 11px;
}

#body-part{
            font-family: 'Work Sans', sans-serif;
}

#main-header{
            font-weight: 400;
            font-size: 12px;
            padding-top: 20px;
            padding: 20px;
            cursor: pointer;
}

#page-icon{
            width: 15px;
            height: 15px;
            padding-right: 5px;
            padding-top: 2px;
}

#page-title{
           font-size: 15px;
}

.brand-list {
    list-style: none;
    display: inline-block;
    width: 500px;
    padding-left: 0px;
}

.login-intro-title {
                    font-size: 48px;
                    margin: 0px;
                    padding-top: 100px;
                    
}

.login-intro-discription {
                        font-size: 32px;
                        color: #637082;
                        margin: 0;
                        line-height: 50px;
                        padding-top: 10px;
                        width: 700px;
}

.login-support {
                font-weight:700;
                font-size: 15px;
                color: #637082;
                padding-top: 50px;
}

li{
    display: inline;
}


.brands-icons{
             width: 100px;
             height: 40px;
             padding: 10px;
}
.brands-icons-round{
             width: 50px;
             height: 50px;
             padding: 10px;
}

#sign-up{
       color: white;
       font-weight:bold;
       border: none;
       background-color:cornflowerblue;
       width: 120px;
       height: 50px;
       border-radius: 30px;
       margin-top: 30px;
       cursor: pointer;
}
#sign-up:hover{
                background-color:rgb(0, 44, 111);
                transition-duration: 400ms;
}

main {
        display:inline-block;
        box-sizing: inherit;
        padding-left: 120px;
        padding-right:120px;
        width: 1270px;
}

login-panel{
            display:block;
            padding: 100px 50px;
            background-color: black;
            color: white;
            position:absolute;
            right: 0px;
            top: 0px;
            width: 250px;
            height: 270px;
}

.user{
        position: relative;
        right: 15px;
        bottom: 5px;
        font-size: 14px;
        font-weight: 500;
}

.pass{
        position: relative;
        right: 15px;
        bottom: 5px;
        font-size: 14px;
        font-weight: 500;
        padding-top: 5px;
}

#login-panel-username{
        display: inline-block;
        position: relative;
        right: 15px;
        width: 270px;
        height: 32px;
        margin-bottom: 10px;
        font-size: 18px;
}

#login-panel-password{
        display: inline-block;
        position: relative;
        right: 15px;
        width: 270px;
        height: 32px;
        font-size: 14px;
        margin-bottom: 20px;
}

#login-panel-checkbox{
        display: inline-block;
        height: 22px;
        width: 22px;
        position: relative;
        right: 20px;
}

#login-panel-checkbox-p{
        display: inline-block;
        font-size: 15px;
        position: relative;
        bottom: 6px;
        right: 10px;
}

#sign-panel{
        color: white;
       font-weight:bold;
       border: none;
       background-color:cornflowerblue;
       width: 270px;
       height: 50px;
       border-radius: 30px;
       margin-top: 5px;
       cursor: pointer;
       position: relative;
       right: 10px;
}

#sign-panel:hover{
        background-color:rgb(0, 44, 111);
        transition-duration: 400ms;
}

#Need-help-signing{
        position: relative;
        top: 60px;
        right: 10px;
        text-decoration: none;
        color: #00b5a2;
        font-size: 14px;
}

#Need-help-signing:hover{
        color: #0079ad;
        text-decoration: underline;
}

.blocks{
        display: flex;
        padding-top: 50px;
        padding-bottom: 100px;
        column-gap: 90px;
}

.incent{
        max-width: 30%;
        height: auto;
        padding-inline: 40px;
        
}

.incent div {
                display: flex;
                width: 260px;
}

.incent-image{
                width: 48px;
                height: 48px;
                padding: 15px;
}

.incent-para{
                padding-left: 75px;
                width: 200px;
                font-weight: 400;
                font-size: 15px;
}

section3 h1{
             font-size: 50px;
             text-align: center;
}

section3 p{
        text-align: center; 
        font-size: 25px;
        color: #006fde;
}

#persons{
        display: flex;
        padding-left: 20px;
}

.personbox{
           margin: 30px;
           display: inline-block;
           color: #000000;
           border: none;
           width: 250px;
           height: 260px;
           background: white;
           box-shadow: .5px .5px 20px #bdd1e6;
           border-radius: 5px;
           transition: 500ms;
}

.personbox:hover{
        display: inline-block;
        box-shadow: 0px .5px 30px #bdd1e6;
        padding-bottom: 25px;
}

.personbox-details{
        display: inline-block;
        color: #006fde;
        font-weight: 600;
        width: 140px;
        height: 30px;
        padding-top: 15px;
        border-radius: 40px;
        transition: box-shadow 500ms;
}

.personbox-details:hover{
        color: #6600ff;
        box-shadow: 0px 0.5px 10px #5a7289;
}

.person-img {
        width: 80px;
        height: 80px;
}

#create-acc{
        font-size: 48px;
        text-align: center;
        padding-top: 70px;
}

#create-acc-p{
        font-size: 1.5rem;
        text-align: center;
        color: #637082;
}

.input-container-small{
        position: relative;
        display:inline-block;
        width: 225px;
        height: 55px;
}

.input-container{
        display:inline-block;
        width: 85vw;
        height: 320px;
        padding-top: 20px;
}

#left-container{
        display: inline-block;
        width: 40vw;
        height: 300px;
}

#left-container-small{
       display: flex;
       align-items: center;
}

#right-container{
        display: inline-block;
        width: 40vw;
        height: 250px;
        position: relative;
        left: 3.5rem;
        bottom: 6.5rem;
}

.input-First-Name{
        display: inline-block;
        height: 50px;
        width: 18vw;
        border-radius: 5px;
        border-style: hidden;
        box-shadow: 0 5px 15px rgb(183, 183, 183);
        margin-top: 30px;
        position: relative;
        top: 3px;
        right: 90px;
        font-size: 17px;
        font-weight: 500;
}

.input-First-Name-lable{
        font-weight: 600;
        width: 100px;
        position: relative;
        z-index: 10;
        bottom: 20px;
        left: 10px;
        
}
.input-Last-Name{
        display: inline-flex;
        height: 50px;
        width: 18vw;
        border-radius: 5px;
        border-style: hidden;
        box-shadow: 0 5px 15px rgb(183, 183, 183);
        margin-top: 30px;
        position: relative;
        font-size: 16px;
        font-weight: 500;
}

.input-Last-Name-lable{
        position: absolute;
        font-weight: 600;
        left: 490px;
        padding-bottom: 50px;
}
.input-Username{
        display: inline-flex;
        flex-direction: column;
        height: 50px;
        width: 40vw;
        border-radius: 5px;
        border-style: hidden;
        box-shadow: 0 5px 15px rgb(183, 183, 183);
        margin-top: 30px;
        font-size: 17px;
        font-weight: 500;
}

.input-Username-lable{
        position: relative;
        font-weight: 600;
        bottom: 75px;
        left: 10px;
}

.input-Phone-Number{
        display: inline-flex;
        height: 50px;
        width: 40vw;
        border-radius: 5px;
        border-style: hidden;
        box-shadow: 0 5px 15px rgb(183, 183, 183);
        margin-top: 50px;
        font-size: 17px;
        font-weight: 500;
}

.input-Phone-Number-lable{
        position: relative;
        font-weight: 600;
        bottom: 75px;
        left: 10px;
}

.input-Email-Address{
        display: inline-flex;
        height: 50px;
        width: 40vw;
        border-radius: 5px;
        border-style: hidden;
        box-shadow: 0 5px 15px rgb(183, 183, 183);
        margin-top: 30px;
        font-size: 17px;
        font-weight: 500;
}

.input-Email-Address-lable{
        position: relative;
        font-weight: 600;
        bottom: 75px;
        left: 10px;
}

.input-Create-Password{
        display: inline-flex;
        height: 50px;
        width: 40vw;
        border-radius: 5px;
        border-style: hidden;
        box-shadow: 0 5px 15px rgb(183, 183, 183);
        margin-top: 30px;
        font-size: 17px;
        font-weight: 500;
}

.input-Create-Password-lable{
        position: relative;
        font-weight: 600;
        bottom: 75px;
        left: 10px;
}

#create-acc-checkbox{
        position: relative;
        padding: 10px;
        width: 25px;
        height: 25px;
        display: block;
        transition: 500ms;
}

#terms-cond{
        display: inline;
        position: relative;
        bottom: 25px;
        left: 50px;
        font-size: 12px;
        color: #637082;
}

#continue-button{
        display: block;
        position: relative;
        left: 850px;
        color: white;
        font-weight:bold;
        border: none;
        font-size: 18px;
        font-weight: 600;
        background-color:cornflowerblue;
        width: 256px;
        height: 48px;
        border-radius: 30px;
        cursor: pointer;
        margin-bottom: 120px;
}

#continue-button:hover{
                background-color:rgb(0, 44, 111);
                transition-duration: 400ms;
}

#continue-button-link{
        text-decoration: none;
}

#footer{
        background-color: #000000;
        color: white;
        width: 100%;
}

#footer-customer-support{
        display: inline-block;
        position: relative;
        height: 300px;
        left: 100px;
}

#footer-customer-support img{
        display: inline-block;
        position: relative;
        top: 100px;
        left: 10px;
        height: 45px;
        width: 45px;
}

#footer-customer-support p1{
        display: inline-block;
        position: relative;
        top: 65px;
        left: 75px;
        font-weight: 700;
}

#footer-customer-support p2{
        display: inline-block;
        position: relative;
        top: 65px;
        left: 88px;
}

#footer-customer-support p3{
        display: inline-block;
        position: relative;
        top: 65px;
        left: 95px;
        color: #637082;
}

#footer-customer-support p4{
        display: inline-block;
        position: relative;
        top: 65px;
        left: 73px;
        color: #637082;
}

#footer-customer-support p5{
        color: #009da3;
        cursor: pointer;
}

#footer-customer-interest{
        display: inline-block;
        position: relative;
        height: 250px;
        width: 850px;
        left: 100px;
        padding-right: 0px;
}


#footer-customer-interest img{
        display: inline-block;
        position: relative;
        bottom: 20px;
        left: 10px;
        height: 45px;
        width: 45px;
}

#footer-customer-interest p1{
        display: inline-block;
        position: relative;
        bottom: 55px;
        left: 80px;
        font-weight: 700;
}

#footer-customer-interest p2{
        display: inline-block;
        position: relative;
        bottom: 55px;
        left: 80px;
        color: #009da3;
        font-weight: 700;
}

#footer-customer-interest p3{
        display: inline-block;
        position: relative;
        bottom: 30px;
        left: 80px;
        font-weight: 700;
}

#footer-customer-interest p4{
        display: inline-block;
        position: relative;
        bottom: 30px;
        left: 80px;
        color: #009da3;
        font-weight: 700;
}

#Terms-of-Use{
        display: inline-block;
        position: relative;
        width: 850px;
        left: 100px;
        padding-right: 0px;
        bottom: 100px;
}

#Terms-of-Use-link{
        display: inline-block;
        position: relative;
        left: 20px;
        text-decoration: none;
        color: #afc2cc;
        font-size: 15px;
        font-weight: 500;
}

#Terms-of-Use-link:hover{
        color: #0079ad;
        text-decoration: underline;
}

#Privacy-Policy{
        display: inline-block;
        position: relative;
        left: 40px;
        text-decoration: none;
        color: #afc2cc;
        font-size: 15px;
        font-weight: 500;
}

#Privacy-Policy:hover{
        color: #0079ad;
        text-decoration: underline;
}

#Cookie-Preferences{
        display: inline-block;
        position: relative;
        left: 60px;
        text-decoration: none;
        font-size: 15px;
        color: #afc2cc;
        font-weight: 500;
}

#Cookie-Preferences:hover{
        color: #0079ad;
        text-decoration: underline;
}

#Terms-of-Use p1{
        display: inline-block;
        position: relative;
        left: 20px;
        font-size: 12px;
        color: #afc2cc;
}

#Terms-of-Use p2{
        display: inline-block;
        position: relative;
        top: 25px;
        left: 20px;
        font-size: 12px;
        color: #afc2cc;
}

#social-media{
        display: inline-block;
        position: relative;
        left: 1000px;
        bottom: 120px;
}

#social-media li{
        width: 15px;
        height: 15px;
}

#social-media li:hover{
        cursor: pointer;
        position: relative;
        bottom: 5px;
}
