@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#body-part {
  font-family: 'Albert Sans', sans-serif;
  margin: 0rem;
}

/* HEADER */

header{
    height: 12vh;
}

#topbar{

}

.page-icon{
    display: inline;
    position: absolute;
    top: 1.2rem;
    left: 3rem;
    cursor: pointer;
}

.header-navbar{
  display: flex;
  position: absolute;
  right: 5rem;
  top: 1.2rem;
  flex-direction: row;
  list-style: none;
  cursor: pointer;
}

.nav-item{
    padding-left: 20px;
    color: #160d4f;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* INDEX HERO */

#IndexHero{
    display: flex;
    justify-content:left;
    align-items: center;
    background-image: linear-gradient(to bottom right, #533483, #16213E);
    height: 88vh;
}

#IndexHero-title{
    padding: 0rem;
    margin: 0rem;
    color: white;
    font-size: 3rem;
    margin-left: 8rem;
    transition: 500ms;
}

#IndexHero-subtitle{
    font-weight: 300;
    margin-left: 8rem;
    color: rgb(185, 185, 185);
}

.IndexHero-image{
    position: absolute;
    top: 8rem;
    right: 5rem;
    width: 40vw;
}

/* Partners Container */

#container-partners{
    position: relative;
    padding-left: 8rem;
    padding-right: 8rem;
    width: auto;
    background-color: #F5F5F5; 
}

.swiper-wrapper{
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.swiper-slide{
    display: inline-block;
    width: 5vw;
    filter: grayscale(100%) opacity(0.7);
    transition: 500ms;
    cursor: pointer;
}

.swiper-slide:hover{
    filter: grayscale(0%) opacity(1);

}

/* OUR SERVICES */

.Our-services{
    height: 120vh;
    width: 100%;
}

.all-cards-section{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

/* UPPER CARDS */
.upper-cards{
    display: inline-flex;
    position: relative;
    left: 15rem;
    flex-direction: row;
    width: 40vw;
    height: 50vh;
}

.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1.5rem;
    justify-content: center;
    border-radius: 20px 20px;
    box-shadow:  #EEEEEE 0px 0px 20px;
    width: 70rem;
    transition: 500ms;
}

.card1:hover{
    box-shadow:  #ababab 0px 0px 20px;
    cursor: pointer;
}
.card1 h5{
    color: #4a4b65;
    font-size: 1.125rem;
    margin-bottom: 0rem;
}
.card1 p{
    color: #737491;
    font-size: 1rem;
}
.card1 img{
    height: 100px;
    width: 100px;
}

.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 20px 20px;
    box-shadow:  #EEEEEE 0px 0px 20px;
    width: 70rem;
    transition: 500ms;
}
.card2:hover{
    box-shadow:  #ababab 0px 0px 20px;
    cursor: pointer;
}
.card2 h5{
    color: #4a4b65;
    font-size: 1.125rem;
    margin-bottom: 0rem;
}
.card2 p{
    color: #737491;
    font-size: 1rem;
}

.card2 img{
    height: 100px;
    width: 100px;
}

/* LOWER CARDS */
.lower-cards{
    display: inline-flex;
    position: relative;
    margin-top: 1rem;
    left: 7rem;
    flex-direction: row;
    width: 40vw;
    height: 50vh;
}

.card3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 20px 20px;
    box-shadow:  #EEEEEE 0px 0px 20px;
    width: 70rem;
    transition: 500ms;
}
.card3:hover{
    box-shadow:  #ababab 0px 0px 20px;
    cursor: pointer;
}
.card3 h5{
    color: #4a4b65;
    font-size: 1.125rem;
    margin-bottom: 0rem;
}
.card3 p{
    color: #737491;
    font-size: 1rem;
}

.card3 img{
    height: 100px;
    width: 150px;
}

.card4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 20px 20px;
    box-shadow:  #EEEEEE 0px 0px 20px;
    width: 70rem;
    transition: 500ms;
}
.card4:hover{
    box-shadow:  #ababab 0px 0px 20px;
    cursor: pointer;
}
.card4 h5{
    color: #4a4b65;
    font-size: 1.125rem;
    margin-bottom: 0rem;
}
.card4 p{
    color: #737491;
    font-size: 1rem;
}

.card4 img{
    height: 100px;
    width: 150px;
}

.heading-text{
    width: 25%;
    position: relative;
    left: 60rem;
    bottom: 33rem;
}

.heading-text h1{
    font-size: 2.5rem;
    color: #253847;
    margin-bottom: 0rem;
}
.heading-text p{
    color: #9e9fb4;
}